body {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    background-color: rgb(255, 255, 255);
    margin: 0;
    padding: 0; 
}


.header {
    border-bottom: 2px solid #F85F00;
    height: 75px;
    display: flex;
    width: 1380px;
}


.header .container{
    justify-content: space-between;
}

#titulo{   
   z-index: 5;
   width: 200px;
   height: 110px;
   display: flex;
   margin-top: -15px;
   cursor: pointer;
   text-shadow: 2px 2px 10px 0px rgba(0,0,0,0.6);
   transition-duration: 0.2s;
}


.navebar{
    position: absolute;
    color: #000000;
    width: 600px;
    display: flex;
    align-items: center ;
    justify-content: space-between;
    list-style: none;
    z-index: 3;
    height: 50px;
    padding-left: 420px;
    text-decoration: none;
}

#home:hover, #cubeplay:hover, #sobreMim:hover, #biblioteca:hover, #login:hover{
    transform: scale(110%);
    color: #F85F00;
    transition: 0.1s;
    cursor: pointer;
}


#titulo:hover{
    transform: scale(110%);
    transition: 0.1s;
}


#tituloDashboard{
    position: relative;
    left: 530px;
    top: 10px;
}

#fundoCinzaDashboard{
    position: relative;
    width: 1100px;
    height: 1000px;
    left: 130px;
    top: -250px;
    
}

#fundoBrancoDashboard{
    position: absolute;
    margin-top: -110px;
    right: 180px;
    width: 700px;
    height: 700px;
}

#fundoBrancoKpi1{
    position: relative;
    top: -1000px;
    display: flex;
    left: 200px;
    height: 200px;
    width: 200px;
}

#fundoLaranjaKpi1{
    position: relative;
    top: -1630px;
    height: 200px;
    width: 200px;
    left: 200px;
}

#fundoBrancoKpi2{
    position: relative;
    top: -1070px;
    display: flex;
    left: 200px;
    height: 200px;
    width: 200px;
}

#fundoLaranjaKpi2{
    position: relative;
    top: -1500px;
    height: 200px;
    width: 200px;
    right: 6px;
}

#fundoBrancoKpi3{
    position: relative;
    top: -1140px;
    display: flex;
    left: 200px;
    height: 200px;
    width: 200px;
}

#fundoLaranjaKpi3{
    position: relative;
    top: -1370px;
    height: 200px;
    width: 200px;
    right: 211px;
}

#textoRecordePessoal{
    position: relative;
    margin-top: -1745px;
    font-size: 20px;
    left: 217px;
    font-weight:bold;
    font-family: Inter, sans-serif;
    color: #ffffff;
}

#textoPartidasJogadas{
    position: relative;
    left: 217px;
    font-size: 20px;
    font-family: Inter, sans-serif;
    font-weight: bold;
    color: #ffffff;
    top: 85px;
}

#textoSugestoesEnviadas{
    position: relative;
    font-size: 16px;
    left: 210px;
    top: 173px;
    color: #ffffff;
    font-weight: 900;
}

#valorRecorde{
    position: relative;
    color: #F85F00;
    left: 285px;
    top: -80px;
    font-size: 20px;
    font-weight: bold;
}

#valorPartidas{
    position: relative;
    color: #F85F00;
    left: 290px;
    top: 5px;
    font-size: 20px;
    font-weight: bold;
}

#valorSugestoes{
    position: relative;
    color: #F85F00;
    left: 290px;
    top: 93px;
    font-size: 20px;
    font-weight: bold;
    transition-duration: 0.2s;
}

#botaoVoltar{
    width: 50px;
    height: 50px;
    top: -1820px;
    position: relative;
    right: 460px;
}

#botaoVoltar:hover{
    cursor: pointer;
}

#containerCanvas{
    width: 600px;
    height: 600px;
    position: relative;
    left: 510px;
    top: -220px;
}

