body {
    margin: 0;
    padding: 0;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    background-color: rgb(255, 255, 255);
}


.header {
    border-bottom: 2px solid #F85F00;
    height: 75px;
    display: flex;
    width: 1380px;
}

.container{
    width: 80%;
    margin: auto;
    display: flex;
}

.header .container{
    justify-content: space-between;
}

#titulo{   
   z-index: 5;
   width: 200px;
   height: 110px;
   display: flex;
   margin-top: -15px;
   cursor: pointer;
   text-shadow: 2px 2px 10px 0px rgba(0,0,0,0.6);
   transition-duration: 0.2s;
}


.navebar{
    color: #000000;
    width: 600px;
    display: flex;
    align-items: center ;
    justify-content: space-between;
    list-style: none;
    z-index: 3;
    height: 50px;
    padding-left: 420px;
    cursor: pointer;
    text-shadow: 2px 2px 10px 0px rgba(0,0,0,0.6);
    transition-duration: 0.2s;
    text-decoration: none;
}

.carousel {
    position: relative;
    width: 1350px; /* Defina a largura desejada */
    height: 500px; /* Defina a altura desejada */
    overflow: hidden;
    border-radius: 10px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
}

.carousel-inner {
    display: flex;
    transition: transform 0.5s ease;
}

.carousel-item {
    min-width: 100%;
    box-sizing: border-box;
}

.carousel-item img {
    width: 1350px;
    height:500px;
    display: block;
    border-radius: 10px;
}

.carousel-control {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background-color: rgba(0, 0, 0, 0.5);
    color: white;
    border: none;
    padding: 10px;
    cursor: pointer;
    font-size: 18px;
}

.carousel-control.prev {
    left: 10px;
}

.carousel-control.next {
    right: 10px;
}

.OqueERPG{
 z-index: 2;
 display: flex;
 width: 450px;
 height: 450px;
 padding-top: 70px;
 padding-left: 120px;
}

#home:hover, #cubeplay:hover, #sobreMim:hover, #quiz:hover, #login:hover{
    transform: scale(110%);
    color: #F85F00;
    transition: 0.1s;
}

#home{
    font-weight: bold;
    color: #F85F00;
}

#titulo:hover{
    transform: scale(110%);
    transition: 0.1s;
}

/* O que é RPG? */

#textoRPGsignificado{
        z-index: 4;
        display: flex;
        margin-top: -420px;
        padding-left: 180px;
        font-size:x-large;
    }

    #fotoDados{
        z-index: 7;
        margin-top: -400px;
        padding-top: -400px;
        padding-left: 700px;
        width: 450px;
        position: relative;
    }

    #fotoMesaRPG{
        z-index: 6;
        display: flex;
        margin-top: -390px;
        padding-left: 810px;
        width: 450px;
    }

    .CubePLAY{
       margin-top: 50px;
       padding-top: 90px;
       background-color: gray; 
       height: 400px;
       display: flex;
       width: 1400px;
    }

    #CubePLaYlogo{
        z-index: 8;
        padding-top: 290px;
        height: 150px;
        width: 400px;
        padding-left: 440px;
    }

    #videoRPG{
        padding-left: 400px;
    }

    /* Titulo - Conheça alguns titulos */

    #fundoLaranja{
        z-index: 7;
        padding-top: 150px;
        padding-left: 280px;
        display: flex;
    }

    #arcoLaranja{
        z-index: 8;
        display: flex;
        margin-top: -115px;
        padding-left: 260px;
    }

    #conhecaAlgunstitulos{
        z-index: 9;
        display: flex;
        padding-left: 390px;
        margin-top: -90px;
    }
  
    #painel1{
        z-index: 9;
        display: flex;
        padding-top: 120px;
        padding-left: 80px;
    }

    #capa1{
        z-index: 10;
        display: flex;
        margin-top: -350px;
        padding-left: 95px;
    }

    #descricao1{
        z-index: 11;
        display: flex;
        padding-left: 380px;
        margin-top: -350px;
        padding-top: -100px;
    }

    #botaoLaranja1{
        z-index: 12;
        background-color: #F85F00;
        font-size: x-large;
        font-family:'Inter', sans-serif; ;
        color: white;
        border-radius: 5px;
        height: 45px;
        border-color: #F85F00;
        position:absolute; 
    }

    .boxBotaolaranja1{
        z-index: 12;
        display: flex; 
        padding-left: 380px;
        padding-top: 80px;
    }

    #painel2{
        z-index: 13;
        display: flex;
        margin-top: -270px;
        padding-left: 730px;
    }

    #capa2{
        z-index: 14;
        display: flex;
        margin-top: -350px;
        padding-left: 750px;
    }

    #descricao2{
        z-index: 15;
        display: flex;
        padding-left: 1030px;
        margin-top: -350px;
        padding-top: -100px;
    }

    #botaoLaranja2{
        z-index: 16;
        background-color: #F85F00;
        font-size: x-large;
        font-family:'Inter', sans-serif; ;
        color: white;
        border-radius: 5px;
        height: 45px;
        border-color: #F85F00;
        position:absolute; 
    }

    .boxBotaolaranja2{
        z-index: 16;
        display: flex; 
        padding-left: 1030px;
        padding-top: 80px;
    }

    #painel3{
        z-index: 17;
        display: flex;
        margin-top: 200px;
        padding-left: 80px;
    }
    
    #capa3{
        z-index: 17;
        display: flex;
        margin-top: -350px;
        padding-left: 90px;      
    }

    #descricao3{
        z-index: 15;
        display: flex;
        padding-left: 380px;
        margin-top: -350px;
        padding-top: -100px;
    
    }

    #botaoLaranja3{
        z-index: 23;
        background-color: #F85F00;
        font-size: x-large;
        font-family:'Inter', sans-serif; ;
        color: white;
        border-radius: 5px;
        height: 45px;
        border-color: #F85F00;
        position:absolute; 
    }

    .boxBotaolaranja3{
        z-index: 16;
        display: flex; 
        padding-left: 380px;
        padding-top: 20px;
    }

    #painel4{
        z-index: 13;
        display: flex;
        margin-top: -270px;
        padding-left: 730px;
    }

    #capa4{
        z-index: 17;
        display: flex;
        margin-top: -345px;
        padding-left: 740px;  
    }

    #descricao4{
        z-index: 15;
        display: flex;
        padding-left: 1030px;
        margin-top: -350px;
        padding-top: -100px;
    }
    
    #botaoLaranja4{
        z-index: 18;
        background-color: #F85F00;
        font-size: x-large;
        font-family:'Inter', sans-serif; ;
        color: white;
        border-radius: 5px;
        height: 45px;
        border-color: #F85F00;
        position:absolute; 
    }

    .boxBotaolaranja4{
        z-index: 18;
        display: flex; 
        padding-left: 1030px;
        padding-top: 80px;
    }

    #botaoLaranja1:hover, #botaoLaranja2:hover, #botaoLaranja3:hover, #botaoLaranja4:hover {
        background-color: #c94e02;
    }


    #fundoRoxo{
        z-index: 20;
        padding-top: 250px;
        padding-left: 280px;
        display: flex;
        position: relative;
    }


    #arcoRoxo{
        display: flex;
        z-index: 19;
        margin-top: -115px;
        padding-left: 260px;
    }

    
    #RPGnosVideoGames{
        z-index: 21;
        display: flex;
        padding-left: 390px;
        margin-top: -90px;
        position: relative;
    }

    #painel5{
        z-index: 17;
        display: flex;
        margin-top: 130px;
        padding-left: 80px;
    }
    
    #capa5{
        z-index: 17;
        display: flex;
        margin-top: -345px;
        padding-left: 98px;    
    }

    #descricao5{
        z-index: 15;
        display: flex;
        padding-left: 380px;
        margin-top: -350px;
        padding-top: -100px;
    }

    #botaoRoxo1{
        z-index: 16;
        background-color: #9747FF;
        font-size: x-large;
        font-family:'Inter', sans-serif; ;
        color: white;
        border-radius: 5px;
        height: 45px;
        border-color: #9747FF;
        position:absolute; 
    }

    .boxBotaoRoxo1{
        z-index: 16;
        display: flex; 
        padding-left: 380px;
        padding-top: 100px;
    }

    #painel6{
        z-index: 13;
        display: flex;
        margin-top: -270px;
        padding-left: 730px;
    }
    
    #capa6{
        z-index: 17;
        display: flex;
        margin-top: -333px;
        padding-left: 748px;
    }

    #descricao6{
        z-index: 18;
        display: flex;
        padding-left: 1030px;
        margin-top: -330px;
    }

    #botaoRoxo2{
        z-index: 16;
        background-color: #9747FF;
        font-size: x-large;
        font-family:'Inter', sans-serif; ;
        color: white;
        border-radius: 5px;
        height: 45px;
        border-color: #9747FF;
        position:absolute; 
    }

    .boxBotaoRoxo2{
        z-index: 16;
        display: flex; 
        padding-left: 1030px;
        padding-top: 100px;
    }

    #painel7{
        z-index: 17;
        display: flex;
        margin-top: 200px;
        padding-left: 80px;
    }
    
    #capa7{
        z-index: 17;
        display: flex;
        margin-top: -345px;
        padding-left: 95px;
    }

    #descricao7{
        z-index: 15;
        display: flex;
        padding-left: 380px;
        margin-top: -350px;
        padding-top: -100px;
    }

    #botaoRoxo3{
        z-index: 23;
        background-color: #9747FF;
        font-size: x-large;
        font-family:'Inter', sans-serif; ;
        color: white;
        border-radius: 5px;
        height: 45px;
        border-color: #9747FF;
        position:absolute; 
    }

    .boxBotaoRoxo3{
        z-index: 17;
        display: flex; 
        padding-left: 380px;
        padding-top: 100px;
    }

    #painel8{
        z-index: 13;
        display: flex;
        margin-top: -270px;
        padding-left: 730px;
    }
    
    #capa8{
        z-index: 17;
        display: flex;
        margin-top: -333px;
        padding-left: 745px;
    
    }

    #descricao8{
        z-index: 18;
        display: flex;
        padding-left: 1030px;
        margin-top: -330px;
    }

    #botaoRoxo4{
        z-index: 16;
        background-color: #9747FF;
        font-size: x-large;
        font-family:'Inter', sans-serif; ;
        color: white;
        border-radius: 5px;
        height: 45px;
        border-color: #9747FF;
        position:absolute; 
    }

    .boxBotaoRoxo4{
        z-index: 16;
        display: flex; 
        padding-left: 1030px;
        padding-top: 100px;
    }

    #botaoRoxo1:hover, #botaoRoxo2:hover, #botaoRoxo3:hover, #botaoRoxo4:hover {
        background-color: #7339be;
    }

    #fundoVerde{
        z-index: 20;
        padding-top: 250px;
        padding-left: 280px;
        display: flex;
        position: relative;
    }


    #arcoVerde{
        display: flex;
        z-index: 19;
        margin-top: -115px;
        padding-left: 260px;
    }

    
    #RPGnosFilmesSeries{
        z-index: 21;
        display: flex;
        padding-left: 390px;
        margin-top: -90px;
        position: relative;
    }

    #painel9{
        z-index: 17;
        display: flex;
        margin-top: 130px;
        padding-left: 80px;
    }
    
    #capa9{
        z-index: 17;
        display: flex;
        margin-top: -335px;
        padding-left: 98px;
    }

    #descricao9{
        z-index: 15;
        display: flex;
        padding-left: 380px;
        margin-top: -350px;
        padding-top: -100px;
    }

    #botaoVerde1{
        z-index: 16;
        background-color: #14AE5C;
        font-size: x-large;
        font-family:'Inter', sans-serif; ;
        color: white;
        border-radius: 5px;
        height: 45px;
        border-color: #14AE5C;
        position:absolute; 
    }

    .boxBotaoVerde1{
        z-index: 16;
        display: flex; 
        padding-left: 380px;
        padding-top: 50px;
    }

    #painel10{
        z-index: 13;
        display: flex;
        margin-top: -270px;
        padding-left: 730px;
    }
    
    #capa10{
        z-index: 17;
        display: flex;
        margin-top: -345px;
        padding-left: 750px;   
    }

    #descricao10{
        z-index: 18;
        display: flex;
        padding-left: 1030px;
        margin-top: -330px; 
    }

    #botaoVerde2{
        z-index: 16;
        background-color: #14AE5C;
        font-size: x-large;
        font-family:'Inter', sans-serif; ;
        color: white;
        border-radius: 5px;
        height: 45px;
        border-color: #14AE5C;
        position:absolute; 
    }

    .boxBotaoVerde2{
        z-index: 16;
        display: flex; 
        padding-left: 1030px;
        padding-top: 87px;
    }

    #painel11{
        z-index: 17;
        display: flex;
        margin-top: 200px;
        padding-left: 80px;
    }
    
    #capa11{
        z-index: 17;
        display: flex;
        margin-top: -345px;
        padding-left: 105px;
    }

    #descricao11{
        z-index: 15;
        display: flex;
        padding-left: 380px;
        margin-top: -350px;
        padding-top: -100px;
    }

    #botaoVerde3{
        z-index: 16;
        background-color: #14AE5C;
        font-size: x-large;
        font-family:'Inter', sans-serif; ;
        color: white;
        border-radius: 5px;
        height: 45px;
        border-color: #14AE5C;
        position:absolute; 
    }

    .boxBotaoVerde3{
        z-index: 16;
        display: flex; 
        padding-left: 380px;
        padding-top: 100px;
    }

    #painel12{
        z-index: 13;
        display: flex;
        margin-top: -270px;
        padding-left: 730px;
    }
    
    #capa12{
        z-index: 17;
        display: flex;
        margin-top: -345px;
        padding-left: 755px;
    }

    #descricao12{
        z-index: 18;
        display: flex;
        padding-left: 1030px;
        margin-top: -330px;
    }

    #botaoVerde4{
        z-index: 16;
        background-color: #14AE5C;
        font-size: x-large;
        font-family:'Inter', sans-serif; ;
        color: white;
        border-radius: 5px;
        height: 45px;
        border-color: #14AE5C;
        position:absolute; 
    }

    .boxBotaoVerde4{
        z-index: 17;
        display: flex; 
        padding-left: 1030px;
        padding-top: 30px;
    }

    #botaoVerde1:hover, #botaoVerde2:hover, #botaoVerde3:hover, #botaoVerde4:hover {
        background-color: #12914d;
    }

    #objetivoOnu{
        z-index: 24;
        padding-top: 350px;
        width: 1000px;
        height: 200px;
        padding-left: 180px;
    }

    #objetivoLogo{
        display: flex;
        z-index: 25;
        padding-left: 950px;
        margin-top: -175px;
        width: 150px ;
        height:150px ;
        position: absolute;
    }

    #assistaOvideo{
        font-weight: bold;
        font-size: x-large;
        padding-top: 20px;
        padding-left: 550px;
    }

    #videoONU{
        padding-top: 25px;
        padding-left: 380px;
    }

    .boxONU{
        margin-top: -100px;
    }

    .futter{
        background-color: #000000;
        height: 200px;
        width: 1350px;
       margin-top: 200px;
    }
    
    #LogoFutter{
      display: flex;
      height: 150px;
      width: 320px;
      margin-top: -180px;
      padding-left: 25px;
     
    }
    
    #LinkedinLogo{
      display: flex;
      position: relative;
      width: 50px;
      height: 50px;
      margin-top: -90px;
      padding-left: 1050px;
    }
    
    #GitHubLogo{
        position: absolute;
        display: flex;
        padding-left: 1120px;
        margin-top: -50px;
        width: 50px;
        height: 50px;
    }
    
    #YoutubeLogo{
        display: flex;
        padding-left: 1190px;
        width: 75px;
        height: 50px;
        margin-top: -50px;
    }
    
    #texto1Futter{
        color: white;
        padding-left: 500px;
        margin-top: 25px;
        
    }
    